:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --logo-text-color: #000000;
  --hero-text-color: #f5f4fa;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Site header */
.navigation-logo {
  color: var(--accent-color);
}

.navigation-title {
  color: var(--logo-text-color);
}

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-contacts .link {
  color: var(--primary-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: #ffffff;
}

/*Button on Hero */
.button {
  background-color: var(--hero-text-color);
  color: var(--title-text-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/* Sections */

.section-title {
  color: var(--title-text-color);
}
/*Features*/
.feature-list .title {
  color: var(--title-text-color);
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
}

/* цвет основного текста #757575  */
/* вторичный цвет #212121*/
/* белый цвет
/* акцентный цвет #2196F3 */
