:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --logo-text-color: #000000;
  --hero-text-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Site header */
.navigation-logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation-title {
  color: var(--logo-text-color);
}

.list {
  list-style: none;
}

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-contacts .link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.section-hero {
  background-color: var(--first-bg-color);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/*Button on Hero */
.hero-button {
  background-color: var(--hero-text-color);
  color: var(--title-text-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
}
/* Sections */

.section-title {
  color: var(--title-text-color);
}
/*Features*/
.feature-list {
  list-style: none;
}
.feature-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*Activity */
.activity-list {
  list-style: none;
}
/* Team */
.section-team {
  background-color: var(--hero-text-color);
}
.team-list {
  list-style: none;
}
.team-list .team-card {
  background-color: var(--white-text-color);
}
.team-list .title {
  color: var(--title-text-color);
}

/* Site footer ! */
.footer {
  background-color: var(--first-bg-color);
}

.footer-logo {
  color: var(--accent-color);
  text-decoration: none;
}
.footer-title {
  color: var(--white-text-color);
}

.adress-text {
  color: var(--white-text-color);
  font-style: normal;
}

.footer-list {
  list-style: none;
}
.footer-list .link {
  color: var(--footer-link-color);
  font-style: normal;
  text-decoration: none;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

/* Portfolio section ! */

/* Buttons */
.button-list {
  list-style: none;
}

.filter-button {
  background-color: var(--hero-text-color);
  color: var(--title-text-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
}

/* Cards ! */

.cards-list {
  list-style: none;
}
.card-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.card-title {
  color: var(--title-text-color);
}
/* цвет основного текста #757575  */
/* вторичный цвет #212121*/
/* белый цвет
/* акцентный цвет #2196F3 */
