body {
  background-color: #fff;
  color: #757575;
}

.list {
  list-style: none;
}

/* Site header */
.navigation-logo {
  color: #2196f3;
}

.navigation-title {
  color: #000000;
}

.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.header-contacts .link {
  color: #757575;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: #2196f3;
}

/*Стилизация секций*/
.section-title {
  color: #212121;
}

/* цвет основного текста #757575  */
/* вторичный цвет #212121*/
/* белый цвет
/* акцентный цвет #2196F3 */
